---
import { Image } from "astro:assets"
import FeaturesImg from '../../public/illustration-features.png';
---
<section class="max-w-6xl mx-auto py-12 md:px-8 px-4 xl:px-0">
    <div class="flex flex-col md:flex-row gap-y-10 justify-start gap-x-10 lg:gap-x-24">
        <div class="flex items-center flex-col">
            <Image src={FeaturesImg} width={550} height={490} class="h-[360px] lg:h-[550px]" alt="">
        </div>
        <div class="flex flex-col text-left gap-y-10 basis-2/4">
            <div>
                <h3
                    class="leading-tight md:leading-lg text-[34px] lg:text-5xl text-indigo-950 font-['Clash_Display'] font-bold mb-5">
                    We Have Very<br class="hidden lg:block">
                    Strong Ecosystem
                </h3>
                <p class=" text-base leading-lg text-gray-500">
                    We provide a variety of servers to grow your users<br class="hidden lg:block">
                    acquisition much user-friendly and boosting up sales.
                </p>
            </div>
            <div class="flex flex-col gap-y-4">
                <div class="flex bg-white rounded-2xl p-5 items-center gap-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="47" height="46" viewBox="0 0 47 46" fill="none">
                        <path
                            d="M17.6925 42.1667H29.1925C38.7758 42.1667 42.6092 38.3334 42.6092 28.75V17.25C42.6092 7.66671 38.7758 3.83337 29.1925 3.83337H17.6925C8.10917 3.83337 4.27583 7.66671 4.27583 17.25V28.75C4.27583 38.3334 8.10917 42.1667 17.6925 42.1667Z"
                            stroke="#640EF1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M4.27583 24.3417L15.7758 24.3034C17.2133 24.3034 18.8233 25.3959 19.36 26.7375L21.545 32.2575C22.0433 33.5034 22.8292 33.5034 23.3275 32.2575L27.7167 21.1217C28.1383 20.0484 28.9242 20.01 29.4608 21.0259L31.4542 24.8017C32.0483 25.9325 33.5817 26.8525 34.8467 26.8525H42.6283"
                            stroke="#640EF1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div>
                        <h3 class="font-bold text-xl">
                            $880 Mio
                        </h3>
                        <p class="text-base text-gray-500">
                            Company budget saved
                        </p>
                    </div>
                </div>
                <div class="flex bg-white rounded-2xl p-5 items-center gap-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="47" height="46" viewBox="0 0 47 46" fill="none">
                        <path
                            d="M18.9 38.3333H28.1C35.7667 38.3333 38.8333 35.2666 38.8333 27.6V18.4C38.8333 10.7333 35.7667 7.66663 28.1 7.66663H18.9C11.2333 7.66663 8.16666 10.7333 8.16666 18.4V27.6C8.16666 35.2666 11.2333 38.3333 18.9 38.3333Z"
                            stroke="#640EF1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M20.625 32.5833H26.375C31.1667 32.5833 33.0833 30.6666 33.0833 25.875V20.125C33.0833 15.3333 31.1667 13.4166 26.375 13.4166H20.625C15.8333 13.4166 13.9167 15.3333 13.9167 20.125V25.875C13.9167 30.6666 15.8333 32.5833 20.625 32.5833Z"
                            stroke="#640EF1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M15.8525 7.66671V3.83337" stroke="#640EF1" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M23.5 7.66671V3.83337" stroke="#640EF1" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M31.1667 7.66671V3.83337" stroke="#640EF1" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M38.8333 15.3334H42.6667" stroke="#640EF1" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M38.8333 23H42.6667" stroke="#640EF1" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M38.8333 30.6666H42.6667" stroke="#640EF1" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M31.1667 38.3334V42.1667" stroke="#640EF1" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M23.5192 38.3334V42.1667" stroke="#640EF1" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M15.8525 38.3334V42.1667" stroke="#640EF1" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M4.33334 15.3334H8.16667" stroke="#640EF1" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M4.33334 23H8.16667" stroke="#640EF1" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M4.33334 30.6666H8.16667" stroke="#640EF1" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path
                            d="M23.5 18.5917L21.6983 21.735C21.2958 22.425 21.6217 23 22.4267 23H24.5733C25.3783 23 25.7042 23.575 25.3017 24.265L23.5 27.4083"
                            stroke="#640EF1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div>
                        <h3 class="font-bold text-xl">
                            450,392
                        </h3>
                        <p class="text-base text-gray-500">
                            All servers available
                        </p>
                    </div>
                </div>
                <div class="flex bg-white rounded-2xl p-5 items-center gap-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="47" height="46" viewBox="0 0 47 46" fill="none">
                        <path d="M11.1183 21.3132C2.14827 21.9457 2.14827 34.9982 11.1183 35.6307H14.7984"
                            stroke="#640EF1" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path
                            d="M11.2142 21.3133C5.06172 4.19744 31.0133 -2.64505 33.9841 15.3333C42.2833 16.3875 45.6375 27.4466 39.3509 32.9475C37.4342 34.6916 34.9617 35.6499 32.3742 35.6308H32.2016"
                            stroke="#640EF1" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path
                            d="M33.0833 31.6825C33.0833 33.1008 32.7766 34.4424 32.2016 35.6308C32.0483 35.9758 31.8759 36.3016 31.6842 36.6083C30.0359 39.3875 26.9883 41.2658 23.5 41.2658C20.0117 41.2658 16.9641 39.3875 15.3158 36.6083C15.1241 36.3016 14.9517 35.9758 14.7984 35.6308C14.2234 34.4424 13.9167 33.1008 13.9167 31.6825C13.9167 26.3925 18.21 22.0991 23.5 22.0991C28.79 22.0991 33.0833 26.3925 33.0833 31.6825Z"
                            stroke="#640EF1" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M20.51 31.6825L22.4075 33.58L26.49 29.8042" stroke="#640EF1" stroke-width="3"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div>
                        <h3 class="font-bold text-xl">
                            189 Mio
                        </h3>
                        <p class="text-base text-gray-500">
                            Websites are running good
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-y-5 lg:flex-row gap-x-5 items-center">
                <a href="#"
                    class="w-full text-center lg:w-fit transition-all ease-in-out duration-500 hover:bg-indigo-950 bg-violet-700 px-10 py-4 rounded-full text-white text-lg font-semibold">
                    Explore More
                </a>
                <a href="#" class="font-semibold text-violet-700 flex gap-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path
                            d="M20.5 12.2V13.9C20.5 17.05 18.7 18.4 16 18.4H7C4.3 18.4 2.5 17.05 2.5 13.9V8.5C2.5 5.35 4.3 4 7 4H9.7C9.57 4.38 9.5 4.8 9.5 5.25V9.15002C9.5 10.12 9.82 10.94 10.39 11.51C10.96 12.08 11.78 12.4 12.75 12.4V13.79C12.75 14.3 13.33 14.61 13.76 14.33L16.65 12.4H19.25C19.7 12.4 20.12 12.33 20.5 12.2Z"
                            stroke="#640EF1" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path
                            d="M22.5 5.25V9.15002C22.5 10.64 21.74 11.76 20.5 12.2C20.12 12.33 19.7 12.4 19.25 12.4H16.65L13.76 14.33C13.33 14.61 12.75 14.3 12.75 13.79V12.4C11.78 12.4 10.96 12.08 10.39 11.51C9.82 10.94 9.5 10.12 9.5 9.15002V5.25C9.5 4.8 9.57 4.38 9.7 4C10.14 2.76 11.26 2 12.75 2H19.25C21.2 2 22.5 3.3 22.5 5.25Z"
                            stroke="#640EF1" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M7.89999 22H15.1" stroke="#640EF1" stroke-width="2" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.5 18.4V22" stroke="#640EF1" stroke-width="2" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M18.9955 7.25H19.0045" stroke="#640EF1" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M16.1957 7.25H16.2047" stroke="#640EF1" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M13.3954 7.25H13.4044" stroke="#640EF1" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    Schedule a Demo
                </a>
            </div>
        </div>
    </div>
</section>