---

---

<section class="max-w-6xl mx-auto py-12 md:px-8 px-4 xl:px-0">
    <div class="flex flex-col gap-y-7">
        <h3
            class="leading-tight md:leading-lg text-[34px] lg:text-5xl text-indigo-950 text-center font-['Clash_Display'] font-bold mb-5">
            Frequently Asked Questions
        </h3>
        <div class="grid lg:grid-cols-2 gap-x-8 gap-y-8">
            <div class="flex-col flex gap-y-8">
                <div class="group faq-card shaynakit-accordion">
                    <div class="bg-white rounded-2xl p-5 flex flex-col gap-y-5">
                        <a href="#" class="btn-accordion">
                            <div class="flex flex-row justify-between">
                                <h3 class="text-indigo-950 font-bold text-lg">
                                    Why do we need to use Xpo?
                                </h3>
                                <div
                                    class="bg-white w-[30px] h-[30px] items-center flex justify-center rounded-full">
                                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.44 6.7124L10.55 11.6024C9.9725 12.1799 9.0275 12.1799 8.45 11.6024L3.56 6.7124"
                                            stroke="#080C2E" stroke-width="2" stroke-miterlimit="10"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                </div>
                            </div>
                        </a>
                        <div class="accordion-content hidden flex flex-col gap-y-5">
                            <p class="text-base text-gray-500 leading-loose">
                                Kapp is able to develop by themselve without removing the parents permission and
                                lorem
                                dolor si amet fully run network at 100% avoiding data-loss at any moments.
                            </p>
                            <a href="#" class="text-violet-700 font-semibold">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="group faq-card shaynakit-accordion">
                    <div class="bg-white rounded-2xl p-5 flex flex-col gap-y-5">
                        <a href="#" class="btn-accordion">
                            <div class="flex flex-row justify-between">
                                <h3 class="text-indigo-950 font-bold text-lg">
                                    What if data doesn’t get stored?
                                </h3>
                                <div
                                    class="bg-white w-[30px] h-[30px] items-center flex justify-center rounded-full">
                                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.44 6.7124L10.55 11.6024C9.9725 12.1799 9.0275 12.1799 8.45 11.6024L3.56 6.7124"
                                            stroke="#080C2E" stroke-width="2" stroke-miterlimit="10"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                </div>
                            </div>
                        </a>
                        <div class="accordion-content hidden flex flex-col gap-y-5">
                            <p class="text-base text-gray-500 leading-loose">
                                Kapp is able to develop by themselve without removing the parents permission and
                                lorem
                                dolor si amet fully run network at 100% avoiding data-loss at any moments.
                            </p>
                            <a href="#" class="text-violet-700 font-semibold">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="group faq-card shaynakit-accordion">
                    <div class="bg-white rounded-2xl p-5 flex flex-col gap-y-5">
                        <a href="#" class="btn-accordion">
                            <div class="flex flex-row justify-between">
                                <h3 class="text-indigo-950 font-bold text-lg">
                                    Do we need to pay 6 months per item?
                                </h3>
                                <div
                                    class="bg-white w-[30px] h-[30px] items-center flex justify-center rounded-full">
                                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.44 6.7124L10.55 11.6024C9.9725 12.1799 9.0275 12.1799 8.45 11.6024L3.56 6.7124"
                                            stroke="#080C2E" stroke-width="2" stroke-miterlimit="10"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                </div>
                            </div>
                        </a>

                        <div class="accordion-content hidden flex flex-col gap-y-5">
                            <p class=" text-base text-gray-500 leading-loose">
                                Kapp is able to develop by themselve without removing the parents permission and
                                lorem
                                dolor si amet fully run network at 100% avoiding data-loss at any moments.
                            </p>
                            <a href="#" class=" text-violet-700 font-semibold">
                                Learn More
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="flex-col flex gap-y-8">
                <div class="group faq-card shaynakit-accordion">
                    <div class="bg-white rounded-2xl p-5 flex flex-col gap-y-5">
                        <a href="#" class="btn-accordion">
                            <div class="flex flex-row justify-between">
                                <h3 class="text-indigo-950 font-bold text-lg">
                                    Can we guarantee no any loss at all?
                                </h3>
                                <div
                                    class="bg-white w-[30px] h-[30px] items-center flex justify-center rounded-full">
                                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.44 6.7124L10.55 11.6024C9.9725 12.1799 9.0275 12.1799 8.45 11.6024L3.56 6.7124"
                                            stroke="#080C2E" stroke-width="2" stroke-miterlimit="10"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                </div>
                            </div>
                        </a>
                        <div class="accordion-content hidden flex flex-col gap-y-5">
                            <p class=" text-base text-gray-500 leading-loose">
                                Kapp is able to develop by themselve without removing the parents permission and
                                lorem
                                dolor si amet fully run network at 100% avoiding data-loss at any moments.
                            </p>
                            <a href="#" class=" text-violet-700 font-semibold">
                                Learn More
                            </a>
                        </div>

                    </div>
                </div>
                <div class="group faq-card shaynakit-accordion">
                    <div class="bg-white rounded-2xl p-5 flex flex-col gap-y-5">
                        <a href="#" class="btn-accordion">
                            <div class="flex flex-row justify-between">
                                <h3 class="text-indigo-950 font-bold text-lg">
                                    How to migrate from other service?
                                </h3>
                                <div
                                    class="bg-white w-[30px] h-[30px] items-center flex justify-center rounded-full">
                                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.44 6.7124L10.55 11.6024C9.9725 12.1799 9.0275 12.1799 8.45 11.6024L3.56 6.7124"
                                            stroke="#080C2E" stroke-width="2" stroke-miterlimit="10"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                </div>
                            </div>
                        </a>
                        <div class="accordion-content hidden flex flex-col gap-y-5">
                            <p class=" text-base text-gray-500 leading-loose">
                                Kapp is able to develop by themselve without removing the parents permission and
                                lorem
                                dolor si amet fully run network at 100% avoiding data-loss at any moments.
                            </p>
                            <a href="#" class=" text-violet-700 font-semibold">
                                Learn More
                            </a>
                        </div>

                    </div>
                </div>
                <div class="group faq-card">
                    <div class="bg-[#080C2E] rounded-2xl p-5 flex flex-col gap-y-5">
                        <div class="flex flex-row justify-between items-center">
                            <a href="#" class="text-white flex gap-x-2">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M20.5 12.2V13.9C20.5 17.05 18.7 18.4 16 18.4H7C4.3 18.4 2.5 17.05 2.5 13.9V8.5C2.5 5.35 4.3 4 7 4H9.7C9.57 4.38 9.5 4.8 9.5 5.25V9.15002C9.5 10.12 9.82 10.94 10.39 11.51C10.96 12.08 11.78 12.4 12.75 12.4V13.79C12.75 14.3 13.33 14.61 13.76 14.33L16.65 12.4H19.25C19.7 12.4 20.12 12.33 20.5 12.2Z"
                                        stroke="white" stroke-width="2" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M22.5 5.25V9.15002C22.5 10.64 21.74 11.76 20.5 12.2C20.12 12.33 19.7 12.4 19.25 12.4H16.65L13.76 14.33C13.33 14.61 12.75 14.3 12.75 13.79V12.4C11.78 12.4 10.96 12.08 10.39 11.51C9.82 10.94 9.5 10.12 9.5 9.15002V5.25C9.5 4.8 9.57 4.38 9.7 4C10.14 2.76 11.26 2 12.75 2H19.25C21.2 2 22.5 3.3 22.5 5.25Z"
                                        stroke="white" stroke-width="2" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M7.9 22H15.1" stroke="white" stroke-width="2" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M11.5 18.3999V21.9999" stroke="white" stroke-width="2"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M18.9955 7.25H19.0045" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M16.1957 7.25H16.2047" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M13.3954 7.25H13.4044" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>

                                Send e-mail to us for other questions
                            </a>
                            <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="30" width="30" height="30" rx="15" transform="rotate(-90 0.5 30)"
                                    fill="white" />
                                <path
                                    d="M13.2125 9.05994L18.1025 13.9499C18.68 14.5274 18.68 15.4724 18.1025 16.0499L13.2125 20.9399"
                                    stroke="#080C2E" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>

                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>