---

---

<section class="mx-auto py-12 md:px-8 px-4 xl:px-0">
    <div class="flex flex-col gap-y-7">
        <div class="flex flex-col text-center">
            <h3 class="text-[34px] lg:text-5xl text-indigo-950 font-['Clash_Display'] font-bold mb-5">
                Our Showcase
            </h3>
            <p class="text-base leading-lg text-gray-500">
                They built amazing website to help more people around the world<br class="hidden md:block">
                by using our recommendation services and products
            </p>
        </div>
        <div class="flex flex-wrap gap-y-8 lg:flex-row justify-center gap-x-7 items-center">
            <div class="group relative ">
                <div
                    class="group-hover:opacity-100 transition-all ease-in-out duration-500 absolute opacity-0 bottom-8 justify-center flex w-full">
                    <a href="#"
                        class="transition-all ease-in-out duration-500 shadow-2xl shadow-violet-700 hover:bg-indigo-950 hover:text-white bg-violet-700 px-7 py-3 font-semibold rounded-full text-white text-base">
                        View Details
                    </a>
                </div>
                <img src="/showcase1.png" alt=""
                    class="w-[320px] h-[220px] border-0 group-hover:border-4 border-violet-700 rounded-[16px] transition-all ease-in-out duration-500">
            </div>
            <div class="group relative ">
                <div
                    class="group-hover:opacity-100 transition-all ease-in-out duration-500 absolute opacity-0 bottom-8 justify-center flex w-full">
                    <a href="#"
                        class=" transition-all ease-in-out duration-500shadow-2xl shadow-violet-700 hover:bg-indigo-950 hover:text-white bg-violet-700 px-7 py-3 font-semibold rounded-full text-white text-base">
                        View Details
                    </a>
                </div>
                <img src="/showcase2.png" alt=""
                    class="w-[320px] h-[220px] border-0 group-hover:border-4 border-violet-700 rounded-[16px] transition-all ease-in-out duration-500">
            </div>
            <div class="group relative ">
                <div
                    class="group-hover:opacity-100 transition-all ease-in-out duration-500 absolute opacity-0 bottom-8 justify-center flex w-full">
                    <a href="#"
                        class=" transition-all ease-in-out duration-500shadow-2xl shadow-violet-700 hover:bg-indigo-950 hover:text-white bg-violet-700 px-7 py-3 font-semibold rounded-full text-white text-base">
                        View Details
                    </a>
                </div>
                <img src="/showcase3.png" alt=""
                    class="w-[320px] h-[220px] border-0 group-hover:border-4 border-violet-700 rounded-[16px] transition-all ease-in-out duration-500">
            </div>
            <div class="group relative ">
                <div
                    class="group-hover:opacity-100 transition-all ease-in-out duration-500 absolute opacity-0 bottom-8 justify-center flex w-full">
                    <a href="#"
                        class=" transition-all ease-in-out duration-500shadow-2xl shadow-violet-700 hover:bg-indigo-950 hover:text-white bg-violet-700 px-7 py-3 font-semibold rounded-full text-white text-base">
                        View Details
                    </a>
                </div>
                <img src="/showcase4.png" alt=""
                    class="w-[320px] h-[220px] border-0 group-hover:border-4 border-violet-700 rounded-[16px] transition-all ease-in-out duration-500">
            </div>
        </div>
    </div>
</section>